# Environment & Secrets
.env
.env.*
!.env.example

# Dependencies
node_modules/

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & IDE Directories
.vscode/
.idea/
*.swp
*.swo
